<div class="row m-t-lg" id='answer-{{ answer.id }}'>
  <div class='col-xs-1 col-sm-1 text-center'>
    <h3 class='no-margins'>
      <div {{ action 'upVote' }} class='{{ if answer.hasVoted 'btn-green-caret' 'gray-text' }} pointer full-width text-center'>
        {{ fa-icon 'caret-up' class='font-xlg' }}
      </div>
      <div class='full-width text-center'>
        {{ answer.votesCount }}
      </div>
      <div {{ action 'downVote' }} class='pointer full-width text-center'>
        {{ fa-icon 'caret-down' class='font-xlg gray-text'}}
      </div>
    </h3>
  </div>
  <div class="col-xs-11 col-sm-7 padding-top-xs">
    <p>
      {{ answer.text }}
    </p>
    <div class='m-t-xlg'>
      {{ comment-box getComments="getComments" postComment='postComment' commentable=answer commentableType="answer" }}
      {{ profile-container model=answer }}
    </div>
  </div>
</div>
