<div class="row m-t-lg">
  <div class='col-xs-1 col-sm-1 text-center'>
    <h3 class='no-margins'>
      <div {{ action 'upVote' }} class='{{ if userHasVoted 'btn-green-caret' 'gray-text' }} pointer full-width text-center'>
        {{ fa-icon 'caret-up' class='font-xlg' }}
      </div>
      <div class='full-width text-center'>
        {{ answer.votesCount }}
      </div>
      <div {{ action 'downVote' }} class='pointer full-width text-center'>
        {{ fa-icon 'caret-down' class='font-xlg gray-text'}}
      </div>
    </h3>
  </div>
  <div class="col-xs-11 col-sm-7 padding-top-xs">
    <p>
      {{ answer.text }}
    </p>
    <div class="row">
      <div class="col-xs-12 grey-text">
        <small>
          {{ moment-from-now comment.createdAt }}
        </small>
      </div>
    </div>
    {{ comment-box getComments="getComments" postComment='postComment' commentable=answer commentableType="answer" }}
  </div>
  <div class='col-xs-12 col-sm-4'>
    <div class='col-xs-2'>
      <a {{ action 'bookmarkAnswer' }} class="gray-text font-lg">
        {{ fa-icon 'bookmark' question }}
      </a>
    </div>
    <div class='col-xs-10 border-left-blue font-sm text-left'>
      <div class='row'>
        <div class='col-xs-12 col-sm-12'>
          <div class='profile-pic-container text-left'>
            <img src='/assets/img/misc/profilepic.jpg' class='profile-pic' />
            <div class='m-t-md full-width'>
              {{#link-to 'user' answer.user.id }}
                {{ answer.answererUsername }}
              {{/link-to}}
            </div>
          </div>
        </div>
        <div class='col-xs-12 m-t-sm'></div>
        <div class='col-xs-12 col-sm-12'>
          <i class="fa fa-comment">
           </i> {{ moment-from-now answer.createdAt }}
         </div>
        <div class='col-xs-12 m-t-sm'></div>
         <div class='col-xs-12 col-sm-12 light-gray-text'>
          {{ fa-icon 'comment' }} {{ answer.commentsCount }}
        </div>
      </div>
    </div>
  </div>
</div>
