<ul class="list-inline">
  <li>
    <p class="grey-text">
      <small>
        <i class="fa fa-flag">&nbsp;</i> Posted June 19, 2015
      </small>
    </p>
  </li>
  <li>
    <p class="grey-text">
      <small>
        <a {{ action 'toggleComments' }} style="color:inherit;" class="answer_comment">
          <i class="fa fa-comment">&nbsp;
          </i> {{ commentable.commentsCount }}
        </a>
      </small>
    </p>
  </li>
</ul>
{{#if isShowingComments }}
  <div id="comment">
    <div class="well">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-12">
            {{ textarea class="form-control comment_box" rows="3" placeholder="Type your comment here.." maxlength="180" value=comment.text }}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">  
            <div class="checkbox">
              <label>
                <input type="checkbox" id="answer_anonymous">Comment anonymously
              </label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <button {{ action 'postComment' comment }} class="btn btn-theme">Submit</button>
            <button type="button" {{ action 'toggleComments' }} class="btn btn-white close_comment">Close</button>
          </div>
        </div>
      </form>
      <ul class="list-group m-top">
        {{#each commentsLimited as |comment|}}
          <li class="list-group-item">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object img-circle introImagePanel" src="/assets/img/leaf.png" alt="user">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading">
                  <a href="#">{{ comment.user.name }}</a>
                </h4>
                <p>{{ comment.text }}</p>
                <p class="grey-text"><small> {{ moment-from-now comment.createdAt }} </small></p>
              </div>
            </div>
          </li>
        {{/each}}
        {{#if showNextFiveAction }}
          <li class="list-group-item">
            <a {{ action 'nextFiveComments' }}>Next 5</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
{{/if}}