<ul class="list-inline">
  <li>
    <p class="grey-text">
      <small>
        <i class="fa fa-flag">&nbsp;</i> {{ moment-from-now commentable.createdAt }}
      </small>
    </p>
  </li>
  <li>
    <p class="grey-text">
      <small>
        <a {{ action 'toggleComments' }} style="color:inherit;" class="answer_comment">
          <i class="fa fa-comment">&nbsp;
          </i> {{ commentable.commentsCount }} comments
        </a>
      </small>
    </p>
  </li>
</ul>
{{#if isShowingComments }}
  <div id="comment">
    <div class="well">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-12">
            {{ textarea class="form-control comment_box" rows="2" placeholder="Type your comment here.." maxlength="180" value=comment.text }}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-6">  
            <div class="checkbox">
              <label>
                <small class="grey-text">
                  <div>
                    <input type="checkbox" id="answer_anonymous" class='no-margin-top' />
                  </div>
                  <div class='m-t-sm'>
                    Comment anonymously
                  </div>
                </small>
              </label>
            </div>
          </div>
          <div class="col-sm-6 text-right">
            <button {{ action 'postComment' comment }} class="btn btn-theme">Submit</button>
            <button type="button" {{ action 'toggleComments' }} class="btn btn-white close_comment">Close</button>
          </div>
        </div>
      </form>
      <ul class="list-group m-top">
        {{#each commentsLimited as |comment|}}
          <li class="list-group-item">
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object img-circle introImagePanel" src="/assets/img/leaf.png" alt="user">
                </a>
              </div>
              <div class="media-body m-t-md">
                <h6 class="media-heading">
                  <a href="#">{{ comment.user.username }}</a>
                </h6>
                <p>{{ comment.text }}</p>
                <p class="m-t-md grey-text"><small> {{ moment-from-now comment.createdAt }} </small></p>
              </div>
            </div>
          </li>
        {{/each}}
        {{#if showNextFiveAction }}
          <li class="m-t-lg">
            <a {{ action 'nextFiveComments' }}>Next 5</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
{{/if}}