<div class='light-gray-text font-sm'>
  <span class='m-r-md'>
    <i class='fa fa-user m-r-sm'></i> Posted by
    {{#link-to 'user' model.user.id class='bold'}}
      <span class='profile-pic-container m-l-sm'>
        <img src='https://mentormint.com/assets/img/get-image.php?name={{ model.user.username }}&size=thumb' class='profile-pic-sm' />
      </span>
      {{ model.user.username }}
    {{/link-to}}
  </span>
  <span class='m-r-md'>
    <i class='fa fa-flag m-r-sm'></i>
    {{ moment-from-now model.createdAt }}
  </span>
  {{#if model.lastAnswererUsername}}
    <i class="fa fa-comment">
    </i> Answered by
    <span class='profile-pic-container m-l-sm'>
      <img src='https://mentormint.com/assets/img/get-image.php?name={{ model.lastAnswererUsername }}&size=thumb' class='profile-pic-sm' />
    </span>
    {{#link-to 'user' model.lastAnswererUsername }}
      {{ model.lastAnswererUsername }}
    {{/link-to}}
  {{/if}}
</div>
