
<div id='{{ question.id }}' class='row m-t-lg'>
  <div class="col-xs-1 col-sm-1">
    <button {{ action 'bookmarkQuestion' question }} class='btn btn-fa btn-proceed' type="button">
      <div class='font-xlg bold'>
        {{ question.answersCount}}
      </div>
      <div class='font-sm'>
        answers
      </div>
    </button>
    <br>
    <div class='font-sm m-t-md text-center'>
      {{ question.votesCount }} votes
    </div>
    <div class='font-sm m-t-md text-center'>
      {{ fa-icon 'eye' }} {{ question.viewCount }} views
    </div>
  </div>
  <div class='col-xs-1 text-center'>
    <a {{ action 'bookmarkQuestion' }} class="{{ if question.hasBookmarked 'green-link'}} gray-text margin-auto font-xlg">
      {{ fa-icon 'bookmark' question }}
    </a>
  </div>
  <div class="col-xs-10 col-sm-10 no-margin-bottom">
    <div class='row'>
      <div class='col-xs-12'>
        {{#if goToQuestionSet}}
          <a {{action 'goToQuestion' question.id }} class="m-top-none">
            <strong>
              {{ question.title }}
            </strong>
          </a>
        {{else}}
          {{#link-to 'question' question class='m-top-none' }}
            <strong>
              {{ question.title }}
            </strong>
          {{/link-to}}
        {{/if}}
        <p class='m-t-xlg'>
          {{ tags-container tags=question.tagWordsArray }}
        </p>
      </div>
    </div>
    <div class='row m-t-md'>
      <div class='col-sm-10 light-gray-text font-sm'>
        {{ profile-container model=question}}
      </div>
    </div>
  </div>
</div>
