<div class='m-t-lg'>
  <td class="col-sm-1">

    <button {{ action 'bookmarkQuestion' question }} class='btn btn-proceed' type="button">
      <span class="fa fa-leaf fa-lg"></span>
      <br>
    </button>
  </td>
  <td class="col-sm-10 no-margin-bottom">
    {{#if goToQuestionSet}}
      <a {{action 'goToQuestion' question.id }} class="m-top-none">
        <strong>
          {{ question.title }}
        </strong>
      </a>
    {{else}}
      {{#link-to 'question' question class='m-top-none' }}
        <strong>
          {{ question.title }}
        </strong>
      {{/link-to}}
    {{/if}}
    <div class="media">
      <div class="col-xs-1">
        <img alt="user" src="/assets/img/groups/roberthalf.png" class="img-circle introImagePanel">
      </div>
      <div class="col-xs-11">
        <div class="media-heading">
          {{ question.text }}
        </div>
      </div>
    </div>
    <ul class="list-inline no-margin-bottom m-t-lg">
      <li>
        <p class="grey-text">
          <small>
            <i class="fa fa-flag">&nbsp;</i> {{ moment-from-now question.createdAt }}
          </small>
        </p>
      </li>
      <li>
        <p class="grey-text">
          <small>
            <a {{ action 'toggleAnswers' }} style="color:inherit;" class="answer_comment">
              <i class="fa fa-comment">&nbsp;
              </i> {{ question.answers.length }} answers
            </a>
          </small>
        </p>
      </li>
    </ul>
    <hr class='no-margin-bottom m-t-sm' />
  </td>
  <td class="col-sm-1 text-center">
    <p>
      <a {{ action 'bookmarkQuestion'}} class="grey-text">
        <small>
          {{ fa-icon 'bookmark' question }}
          <div class="m-t-sm">
            Bookmark
          </div>
        </small>
      </a>
    </p>
  </td>
</div>