<div class="row p-t-lg p-b-lg search-forums-container">
  <div class="col-sm-12 search-bg">
    <form class="form-horizontal no-margins">
      <div class="form-group no-margin-top no-margin-bottom">
        <div class="col-xs-12 col-sm-10">
          {{input type='text' value=keywords placeholder='Search for a question topic' class='form-control' }}
        </div>
        <div class="hidden-xs col-sm-2 pull-in">
          <button type="submit" {{ action 'search' }} class="btn-fa btn btn-default">
            {{ fa-icon 'search'}}
          </button>
        </div>
      </div>
      <div class="visible-xs form-group">
        <div class='col-xs-12'>
          <button type="submit" {{ action 'search' }}class="form-control btn btn-default btn-block">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class='{{ if hideResults 'hide' }} form-group row search-results-container no-margin-bottom padding-bottom-lg box-shadow fast-transition'>
  <div class='m-t-md search-results-inner-padding fast-transition'>
    <h4 class='no-margins'> {{ model.length }} Search Result(s) </h4>
    <br />
    {{#each model as |question|}}
      {{ question-container question=question postComment="postComment" getComments="getComments" goToQuestion='goToQuestion' }}
    {{/each}}
  </div>
</div>