<div class="navbar fixed navbar-dash navbar-fixed-top navbar-bottom">
  <div class="full-width navbar-container">
    <div class="navbar-left navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navCollapse">
        <span class="sr-only">Toggle Navigation</span>
          {{ fa-icon 'leaf' class='font-white font-xlg' }}
      </button>
      <a href="/forum/questions/index" class="no-padding-top navbar-brand animated flipInX">
        {{ fa-icon 'leaf' class='font-white font-xlg'}} <span class='logo-text'> MentorMint </span>
      </a>
      <a href="/" class="navbar-brand animated flipInX">
      </a>
    </div>
    <div class='navbar-middle'>
      <div class='float-left'>
        {{ search-forums searchItems=searchItems model=model goToQuestion='goToQuestion' }}
      </div>
      <div class='float-right text-right btn-header-container'>
        {{#link-to 'forum.questions.index' class='btn-header'}}
          {{ fa-icon 'question-circle-o '}} all questions
        {{/link-to}}
        {{#if currentUser}}
          {{#link-to 'forum.questions.new' class='btn-header'}}
            {{ fa-icon 'edit' }} ask question
          {{/link-to}}
          {{#link-to 'forum.bookmarks' class='btn-header'}}
            {{ fa-icon 'bookmark'}} bookmarks
          {{/link-to}}
          {{#link-to 'user' currentUser class='btn-header'}}
            {{ fa-icon 'user' }} me
          {{/link-to}}
        {{else}}
          {{#link-to 'login' class='btn-header'}}
            {{ fa-icon 'user '}} login
          {{/link-to}}
        {{/if}}
      </div>
    </div>
    <div class='navbar-right'>
      <div class='float-right'>
        {{#link-to 'login' class='btn-header border-none float-right'}}
          {{ fa-icon 'gear' class='font-white font-xlg' }}
        {{/link-to}}
      </div>
    </div>
  </div>
</div>
