<div class='m-t-lg row'>
  <div class='col-xs-12 col-sm-9 padding-left-lg'>
    <div class='row'>
      <div class='col-xs-1 text-center'>
        {{ fa-icon 'lightbulb-o' class='font-xlg' }}
      </div>
      <div class='col-xs-11'>
        <h4 class='no-padding no-margins'>  {{ model.title }} </h4>
        <p class='font-md m-t-lg'>
          {{ model.text }}
        </p>
        <p class='m-t-lg'>
          {{ tags-container tags=model.tagWordsArray }}
        </p>
      </div>
    </div>
  </div>
  <div class='col-xs-12 col-sm-3 border-left-blue font-sm text-left'>
    <div class='row'>
      <div class='col-xs-12 col-sm-12'>
         <i class="fa fa-flag">
         </i> {{ moment-from-now question.createdAt }} by <a class='bold' href=''>{{ question.questionUsername }}</a>
      </div>
      <div class='col-xs-12 m-t-sm'></div>
      <div class='col-xs-12 col-sm-12'>
        <i class="fa fa-comment">
         </i> Answered {{ moment-from-now question.updatedAt }} by <a class='bold' href=''>{{ question.latestAnswerer }}</a>
       </div>
      <div class='col-xs-12 m-t-sm'></div>
       <div class='col-xs-12 col-sm-12 light-gray-text'>
        {{ fa-icon 'eye' }} {{ question.viewCount }} {{ fa-icon 'comment' }} {{ question.answersCount }} {{ fa-icon 'bookmark' }} {{ question.bookmarksCount }}
      </div>
    </div>
  </div>
</div>

<div class='row m-t-lg'>
  <div class='col-xs-12'>
    {{ forum-header forumHeaderLabel=model.answersCountString tabs=tabs question=model }}
  </div>
</div>

<div class='row'>
  <div class='col-xs-12'>
    {{ liquid-outlet }}
  </div>
</div>

<div class='row m-t-lg'>
  <div class='col-xs-12'>
    {{ forum-header forumHeaderLabel='Answer Question' }}
  </div>
</div>

<div class='row m-t-lg'>
  <div class='col-xs-12'>
    <div class='row'>
      <div class='col-xs-10 col-xs-offset-1'>
        {{ textarea value=answer.text class='form-control' placeholder='Type your answer here..' }}
        <br />
        <div class='text-right'>
          <button {{ action 'resetAnswer' }} class='btn btn-primary btn-orange'>
            {{ fa-icon 'eraser' }} Reset
          </button>
          <button {{ action 'submitAnswer' }} class='btn btn-primary btn-green'>
            {{ fa-icon 'edit' }} Answer question
          </button>
        </div>
      </div>
    </div>
  </div>
</div>