<div class='m-t-lg row'>
  <div class='col-xs-12'>
    <h4>{{ model.title }}</h4>
  </div>
</div>

<div class='m-t-lg row'>
  <div class='col-xs-12'>
    {{ model.text }}
  </div>
</div>

{{#if showAnswers }}
  <div class='m-t-lg'>
    <h4> Answers </h4>
  </div>
  {{#each model.answers as |answer| }}
    <div class="media m-t-lg">
      <div class="col-xs-offset-1 col-xs-11">
        <p>
          {{ answer.text }}
        </p>
        <div class="row">
          <div class="col-xs-12 grey-text">
            <small>
              {{ moment-from-now comment.createdAt }}
            </small>
          </div>
        </div>
        {{ comment-box getComments="getComments" postComment='postComment' commentable=answer commentableType="answer" }}
      </div>
    </div>
  {{/each}}
{{/if}}
  <div class="col-sm-1 text-center">
    <p>
      <a {{ action 'bookmarkQuestion'}} class="grey-text">
        <small>
          {{ fa-icon 'bookmark' model }}
          <div class="m-t-sm">
            Bookmark
          </div>
        </small>
      </a>
    </p>
  </div>