<div class='m-t-lg row'>
  <div class='col-xs-12 col-sm-9 padding-left-lg'>
    <div class='row'>
      <div class='col-xs-1'>
        {{ fa-icon 'lightbulb-o' class='font-xlg' }}
      </div>
      <div class='col-xs-11'>
        <h4>  {{ model.title }} </h4>
        <p class='font-md m-t-lg'>
          {{ model.text }}
        </p>
        <p class='m-t-lg'>
          {{ tags-container tags=model.tagWordsArray }}
        </p>
      </div>
    </div>
  </div>
  <div class='col-xs-12 col-sm-3 border-left-blue font-sm text-left'>
    <div class='row'>
      <div class='col-xs-12 col-sm-12'>
         <i class="fa fa-flag">
         </i> {{ moment-from-now question.createdAt }} by <a class='bold' href=''>{{ question.questionUsername }}</a>
      </div>
      <div class='col-xs-12 m-t-sm'></div>
      <div class='col-xs-12 col-sm-12'>
        <i class="fa fa-comment">
         </i> Answered {{ moment-from-now question.updatedAt }} by <a class='bold' href=''>{{ question.latestAnswerer }}</a>
       </div>
      <div class='col-xs-12 m-t-sm'></div>
       <div class='col-xs-12 col-sm-12 light-gray-text'>
        {{ fa-icon 'eye' }} {{ question.viewCount }} {{ fa-icon 'comment' }} {{ question.answersCount }} {{ fa-icon 'bookmark' }} {{ question.bookmarksCount }}
      </div>
    </div>
  </div>
</div>

{{ forum-header tabs=tabs }}

<div class='m-t-lg'>
  <h4> Answers </h4>
</div>
{{#each model.answers as |answer| }}
  <div class="media m-t-lg">
    <div class="col-xs-offset-1 col-xs-11">
      <p>
        {{ answer.text }}
      </p>
      <div class="row">
        <div class="col-xs-12 grey-text">
          <small>
            {{ moment-from-now comment.createdAt }}
          </small>
        </div>
      </div>
      {{ comment-box getComments="getComments" postComment='postComment' commentable=answer commentableType="answer" }}
    </div>
  </div>
{{/each}}
