<div class='container-fluid profile-container'>
  <div class='row m-t-lg'>
    <div class='col-xs-12 col-sm-2 text-center'>
      <div class='profile-pic-container'>
        <img src='https://mentormint.com/assets/img/get-image.php?name={{ model.username }}' class='profile-pic-sm' />
      </div>
    </div>
    <div class='col-xs-12 col-sm-10 text-left'>
      <h4>
        {{ model.username }}
      </h4>
      <div class='m-t-md font-md'>
        Member since {{ moment-from-now model.createdAt }}
      </div>
      {{#if model.userBadges }}
        <div class='m-t-md font-md'>
          Badges:

          {{#each model.userBadges as |userBadge| }}
            {{ badge-container userBadge=userBadge}}
          {{/each}}
        </div>
      {{/if}}
    </div>
  </div>

  <div class='row m-t-lg'>
    <div class='col-xs-12'>
      {{ forum-header tabs=tabs}}
    </div>
  </div>
</div>
{{ liquid-outlet }}
